@media only screen and (min-width: 993px) {
    body {
    padding-top:50px;
    }
}
@media only screen and (max-width:992px) {
    body {
        padding-top:125px;
    }
}    


body {
    display:flex;
    margin: auto;
}

.nav-link {
    color: lightgoldenrodyellow;
}

/* .card-title{
    height: 30px;
    
} */
