@media only screen and (min-width: 768px) {
    body {
    padding-top:50px;
    }
}

@media only screen and (max-width:767px) {
    body {
        padding-top:125px;
    }
}    

@media only screen and (max-width: 767px) {
    .navCont {
        justify-content: center!important;
    }
}    

@media only screen and (max-width: 991px) {
    .aboutMe {
        width: 100%!important;
    }
}    

body {
    display:flex;
    margin: auto;
}

.navbar {
    background-color: darkslateblue;
}

.nav-link {
    color: lightgoldenrodyellow;

}

.myImg {
    width:100%;
    height:auto;
}
.card-title {
    background-color: darkslateblue;
    color: lightgoldenrodyellow;
}

.fab {
    color: lightgoldenrodyellow;
}
